{% extends 'base_reader.html' %}
{% load static %}
{% block title %}{{name}}{% endblock title %}
{% block css %}
{% comment %} <link rel="stylesheet" href="{% static 'novels/css/reader.css' %}"> {% endcomment %}
{% endblock css %}
{% block content %}
<div class="chapter-content">
    <div class="chapter-number">[{{chapter}}]</div>
    {% for para in content %}
    <p class="para">{{para}}</p>
    {% endfor %}
    <div class="chapter-buttons">
        <a href="{{previous_url}}" class="chapter-button">Previous Chapter</a>
        <a href="{{home_url}}" class="chapter-button">Home</a>
        <a href="{{next_url}}" class="chapter-button">Next Chapter</a>
    </div>
</div>
{% endblock content %}