{% extends 'base.html' %}
{% load static %}
{% block title %}DMCA{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/notice.css' %}">
{% endblock css %}
{% block content %}
<section class="hot-novels section-home w-full md:w-screen flex flex-wrap items-center content-center">
    <div class="container w-11/12 bg-slate-700 p-4 rounded leading-loose relative self-center left-2 md:left-4">
        <h1 class="text-4xl font-bold">DMCA</h1>
        <br>
        <p> <strong>web-novels.online</strong> is in compliance with 17 U.S.C. § 512 and the Digital Millennium Copyright Act ("DMCA"). It is our policy to respond to any infringement notices and take appropriate actions under the Digital Millennium Copyright Act ("DMCA") and other applicable intellectual property laws.</p>
        <p>If your copyrighted material has been posted on web-novels.online.com or if links to your copyrighted material are returned through our search engine and you want this material removed, you must provide a written communication that details the information listed in the following section. Please be aware that you will be liable for damages (including costs and attorneys' fees) if you misrepresent information listed on our site that is infringing on your copyrights. We suggest that you first contact an attorney for legal assistance on this matter.</p>
        <p>The following elements must be included in your copyright infringement claim:</p>
        <br>
        <ul>
            <li>
                Provide evidence of the authorized person to act on behalf of the owner of an exclusive right that is allegedly infringed.
            </li>
            <br>
            <li>
                Provide sufficient contact information so that we may contact you. You must also include a valid email address.
            </li>
            <br>
            <li>
                You must identify in sufficient detail the copyrighted work claimed to have been infringed and including at least one search term under which the material appears in web-novels.online.com search results.
            </li>
            <br>
            <li>
                A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
            </li>
            <br>
            <li>
                A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
            </li>
            <br>
            <li>
                Must be signed by the authorized person to act on behalf of the owner of an exclusive right that is allegedly being infringed.
            </li>
            <br>
        </ul>
        <p>Send the written infringement notice to the following address and an email notifcation to <strong>ay727467@outlook.com</strong></p>
        <p>Note: Post mail is not accepted, send email instead. Don't send PDF or Scanned PDF, we filtered all attachments.</p>
        <p>Please allow 5-7 business days for an email response. Note that emailing your complaint to other parties such as our Internet Service Provider will not expedite your request and may result in a delayed response due the complaint not properly being filed.</p>
    </div>
</section>
<script src="{% static 'home/js/main.js' %}"></script>
{% endblock content %}