.novels{
    width: 90%;
    height: 95%;
    position: relative;
    left: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.novel-description {
    display: grid;
}

.novel-item {
    margin-bottom: 20vh;
}

.novels-total {
    transform-origin: center;
    background-color: #13131b;
    width: 200px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 46%;
}

.page-number {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
    width: 30px;
    height: inherit;
    background-color: #0e0e14;
    color: #acacac;
}

.page-number.selected {
    background-color: #dfdfdf;
}

@media screen and (min-device-width: 761px) and (max-device-width: 1000px) {
    main {
        height: 430vh !important;
    }

    section {
        height: 95%;
    }

    .novels-list {
        left: 15%;
    }

    .novel-name {
        width: 130px;
    }
}

@media screen and (min-device-width: 700px) and (max-device-width: 760px) {
    main {
        height: 590vh !important;
    }
    
    .hot-novels {
        height: 95%;
    }

    .novels-list {
        top: 2%;
    }

    .novels-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .novel-item {
        margin-bottom: 120px;
        margin-right: 50px;
        left: 3%;
    }

    .novel-cover {
        width: 160px;
        height: 220px;
    }

    .novel-name {
        width: 150px;
        font-size: 1rem;
    }

    .novel-chapter-no {
        font-size: 0.8rem;
    }   
}

@media screen and (min-device-width: 651px) and (max-device-width: 699px) {
    main {
        height: 575vh !important;
    }
    
    .hot-novels {
        height: 95%;
    }

    .novels-list {
        top: 2%;
    }

    .novel-item {
        margin-bottom: 130px;
        margin-right: 90px;
        left: -5%;
    }

    .novel-cover {
        width: 160px;
        height: 220px;
    }

    .novel-name {
        width: 150px;
        font-size: 1rem;
    }

    .novel-chapter-no {
        font-size: 0.8rem;
    }   
}

@media screen and (min-device-width: 581px) and (max-device-width: 650px) {
    main {
        height: 585vh !important;
    }
    
    .hot-novels {
        height: 95%;
    }

    .novels-list {
        top: 2%;
    }

    .novel-item {
        margin-bottom: 140px;
        margin-right: 90px;
    }

    .novel-cover {
        width: 160px;
        height: 220px;
    }

    .novel-name {
        width: 150px;
        font-size: 1rem;
    }

    .novel-chapter-no {
        font-size: 0.8rem;
    }   
}

@media screen and (min-device-width: 501px) and (max-device-width: 580px) {
    main {
        height: 570vh !important;
    }
    
    .hot-novels {
        height: 95%;
    }

    .novels-list {
        top: 2%;
    }

    .novel-item {
        margin-bottom: 130px;
        margin-right: 50px;
    }

    .novel-cover {
        width: 160px;
        height: 220px;
    }

    .novel-name {
        width: 150px;
        font-size: 1rem;
    }

    .novel-chapter-no {
        font-size: 0.8rem;
    }   
}

@media screen and (min-device-width: 481px) and (max-device-width: 500px) {
    main {
        height: 570vh !important;
    }
    
    .hot-novels {
        height: 95%;
    }

    .novel-item {
        margin-bottom: 130px;
        margin-right: -90px;
    }

    .novel-cover {
        width: 160px;
        height: 220px;
    }

    .novel-name {
        width: 150px;
        font-size: 1rem;
    }

    .novel-chapter-no {
        font-size: 0.8rem;
    }
}
   
@media screen and (min-device-width: 451px) and (max-device-width: 480px) { 
    main {
        height: 495vh !important;
    }

    .novel-item {
        margin-bottom: 120px;
        margin-right: 40px;
    }

    .novel-name {
        width: 125px;
    }
}

@media screen and (min-device-width: 395px) and (max-device-width: 450px) {
    main {
        height: 490vh !important;
    }

    .novel-item {
        margin-bottom: 120px;
    }

    .novel-name {
        width: 125px;
    }
    
}

@media screen and (min-device-width: 331px) and (max-device-width: 394px) {
    main {
        height: 385vh !important;
    }

    .novels-list {
        left: 5vw;
    }

    .novel-name {
        width: 100px;
    }

    .novel-chapter-no {
        left: 12%;
    }

    .novel-item {
        margin-bottom: 200px;
        margin-right: 10px;
    }

    .novels-total {
        left: 40% !important;
    }
}

@media screen and (max-device-width: 330px) {
    main {
        height: 375vh !important;
    }

    .novels-list {
        left: 2%;
    }

    .novel-name {
        width: 100px;
    }

    .novel-chapter-no {
        left: 10%;
        top: -5%;
    }

    .novel-item {
        margin-bottom: 200px;
        margin-right: 10px;
    }

    .novels-total {
        left: 40% !important;
    }
}
