.page-number {
    background-color: rgb(51, 65, 85);
}

.page-number-text {
    border-radius: 0.2rem;
    padding: 0.3rem;
    background-color: rgb(51, 65, 85);
    transition: all ease 100ms;

}

.page-number.selected {
    background-color: #acacac;
    color: rgb(30, 41, 59);
}

.page-number:hover {
    background: rgb(24, 32, 46);
}

.page-number-text:hover {
    background: rgb(24, 32, 46);
}

.novels-total {
    left: 47% !important;
    right: 50% !important;
}