.chapter-button {
    font-weight: bold;
    margin-left: 1px;
    margin-right: 1px;
    width: 30px;
    height: inherit;
    background-color: rgb(20, 27, 39);
    color: #d2d2d2;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: all ease-out 200ms;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.chapter-button:hover {
    background-color: #d2d2d2;
    color: rgb(20, 27, 39);
}