{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'search/css/main.css' %}">
{% endblock css %}
{% block content %}
<section class="hot-novels section-home left-1 h-full">
    <textarea name="search" id="searchArea" class="search-area relative border-2 border-gray-700 border-solid rounded-2xl " rows="1" cols="1" placeholder="Search Light Novel By Title"></textarea>
    <ul class="novels-list grid grid-cols-3 grid-rows-3 mb-5">

    </ul>
</section>
<script src="{% static 'home/js/main.js' %}"></script>
<script src="{% static 'search/js/main.js' %}"></script>
{% endblock content %}