* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw !important;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    justify-content: center !important;
}

.novels-total {
    transform-origin: center;
    width: 200px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 42vw;
    margin-bottom: 2rem;
    transform: translate(-50%, 0); 
    bottom: -2.5vh;
}


.page-number {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
    width: 30px;
    height: inherit;
    background-color: rgb(20, 27, 39);
    color: #acacac;
    transition: all ease-out 200ms;
}

.page-number.selected {
    background-color: #dfdfdf;
}

.nav-icons {
    width: 2.1rem;
    height: 2.1rem;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
}


.footer-link:hover {
    color: #acacac;
}

@media (min-width: 768px){
    .md\:w-screen {
        width: 105vw;
    }

    .md\:left-28 {
        left: 5rem;
    }
}