{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} </title>
    {% comment %} <link href="{% static 'main.css' %}" rel="stylesheet"> {% endcomment %}
    {% block css %}{% endblock css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav-wrapper">
        <div class="nav-links-container">
            <div class="icons-container">
                <img src="{% static 'imgs/novels.png' %}" alt="novels icon" class="nav-icons">
                <a href="/novels" class="nav-links">Novels</a>
            </div>
            <div class="icons-container">
                <img src="{% static 'imgs/search.png' %}" alt="search icon" class="nav-icons">
                <a href="/search" class="nav-links">Search</a>
            </div>
            <div class="icons-container">
                <img src="{% static 'imgs/updates.png' %}" alt="updates icon" class="nav-icons">
                <a href="/updates" class="nav-links">Updates</a>
            </div>
            {% comment %} <div class="icons-container">
                <img src="{% static 'imgs/ranking.png' %}" alt="rankings icon" class="nav-icons rankings-icon" style="height: 55%;">
                <a href="#" class="nav-links">Rankings</a>
            </div> {% endcomment %}
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'main.js' %}"></script>
</body>

</html>