main {
  min-height: 100vh !important;
  height: fit-content !important;
  width: 100vw !important;
}

.search-area {
  resize: none;
  transform: translate(-50%, 0);
  left: 45vw;
  width: 90%;
  color: black;
}

.no-novels {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 50%;
  font-size: 1.5rem;
}



@media (min-width: 768px){
  .md\:md {
    left: 2.5vw;
  }

}
