main {
  min-height: 100vh !important;
  height: fit-content !important;
  width: 100vw !important;
}

.search-area {
  resize: none;
  transform: translate(-50%, 0);
  left: 45vw;
  width: 90%;
  color: black;
}

.no-novels {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 50%;
  font-size: 1.5rem;
}

/* 
h3 {
  position: relative;
  font-weight: bold;
  left: 120%;
  top: 150%;
}

.hot-novels {
  width: 96.5%;
  height: 80%;
  left: 1%;
  top: 3%;
}

.search-area {
  background-color: #13131b;
  color: #acacac;
  font-size: 1rem;
  width: 90%;
  height: 50px;
  border: #acacac3f 1px solid;
  border-radius: 20px;
  resize: none;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1%;
  position: relative;
  top: 2%;
  transform: translate(-50%, 0);
  left: 47.5vw;
  overflow: hidden;
  padding-left: 4%;
  text-align: left;
}

.search-area::placeholder {
  text-align: left;
}

.search-svg {
  width: 30px;
  height: 30px;
  z-index: 1;
  position: absolute;
  left: 21%;
  top: 4%;
  cursor: pointer;
}

.novel-description {
  align-items: start;
}

.novels-list {
  height: 100%;
}

@media screen and (max-device-width: 394px) {
  main {
    height: 150vh;
  }

  h3 {
    position: absolute;
    width: 220px;
    height: 50px;
    left: 25%;
    top: 40%;
  }

  .hot-novels {
    width: 92%;
    left: 3%;
  }

  .search-svg {
    left: 7%;
    top: 3%;
  }
}

@media screen and (min-device-width: 395px) and (max-device-width: 450px) {
  main {
    height: 150vh;
  }

  .nav-links {
    font-size: 1.1rem;
  }

  h3 {
    position: absolute;
    width: 220px;
    height: 50px;
    left: 30%;
    top: 40%;
  }

  .hot-novels {
    width: 92%;
    left: 3%;
  }

  .search-svg {
    left: 7%;
    top: 3%;
  }
}

@media screen and (min-device-width: 450px) and (max-device-width: 500px) {
  main {
    height: 150vh !important;
  }
    
  .nav-links {
    font-size: 1.1rem;
  }

  h3 {
    position: absolute;
    width: 220px;
    height: 50px;
    left: 25%;
    top: 40%;
  }

  .hot-novels {
    width: 92%;
    left: 3%;
  }

  .search-svg {
    left: 7%;
    top: 3%;
  }
}

@media screen and (min-device-width: 500px) and (max-device-width: 760px) {
  main {
    height: 120vh;
  }

  .nav-links {
    font-size: 1.2rem;
  }

  h3 {
    position: absolute;
    width: 220px;
    height: 50px;
    left: 25%;
    top: 40%;
  }

  .hot-novels {
    width: 92%;
    left: 3%;
  }

  .search-svg {
    left: 7%;
    top: 3%;
  }
}

@media screen and (min-device-width: 760px) and (max-device-width: 1300px) {
  main {
    height: 90vh;
  }

  .nav-links {
    font-size: 1.2rem;
  }

  h3 {
    position: absolute;
    width: 220px;
    height: 50px;
    left: 30%;
    top: 40%;
  }

  .hot-novels {
    width: 92%;
    left: 3%;
  }

  .search-svg {
    left: 7%;
    top: 3%;
  }
}  */